@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap');

#bloc_page, #container_footer{
    width: 1200px;
    margin: auto;
    font-family: 'Raleway', sans-serif;
    font-size: 0.9em;
}

h1{
    font-size: 1.4em;
    font-weight: 700;
    margin-bottom: 0;
}

h2{
    font-size: 1.3em;
    font-weight: 700;
}


/* HEADER */

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 30px;
}

nav ul{
    list-style-type: none;
    display: flex;  
}

nav li{
    margin-right: 68px ;

}

nav li:last-child{
    margin-right: 0;
}

nav a {
    text-decoration: none;
    color: grey;
    font-weight: 500;

}
  
nav a:hover {
    border-top: 2px solid #0065FC;
    padding-top: 25px;
    color: #0065FC;
}

nav a:focus{
    border-top: 2px solid #0065FC;
    padding-top: 25px;
    color: #0065FC;
}

#link_inscription{
    color: #0065FC;
    font-weight: 700;
}

/* Section 1 : recherche et filtres */

#description{
    margin-top: 5px;
    margin-bottom: 20px;
}

#container_search{
    display: flex;
    align-items: center;
    border: 1px solid #F2F2F2;
    border-radius: 10px;
    width: 347px;
}

#icon_mapmarker{
     background-color: #F2F2F2;
     padding: 10px 13px 10px 13px;
     border-radius: 10px 0 0 10px;
 }

input{
    font-weight: 700;
    padding: 10px;
    font-size: 1em;
    border: none;
}

input[type=submit]{
    background-color: #0065FC;
    color: #fff;
    cursor: pointer;
    border-radius: 0 10px 10px 0;
}

#container_filters{
    display: flex;
    margin-top: 20px;
    align-items: center;
}

#container_filters p, .filtre{
    font-weight: 700;
    font-size: 1.1em;
}

#container_filters ul{
    display: flex;
    flex-wrap: wrap;
}

#container_filters li{
    list-style-type: none;
    margin-right: 40px;
}

.button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    background-color: #fff;
    border: 1px solid #dddddd;
    padding: 0;
}

#container_filters button:hover{
    background-color: #DEEBFF;
    cursor: pointer;
}

.icon{
    color: #0065FC;
    padding: 10px;
    background-color: #DEEBFF;
    width: 15px;
    height: 15px;
}

.button, .icon{
    border-radius: 20px;
}

.filtre{
    margin: 0 15px 0 15px;
}

#info{
    display: flex;
    align-items: center;
}

#icon_info{
    border: 1px solid #dddddd;
    padding: 2px 6px;
    border-radius: 15px;
    color: #0065FC;
    margin-right: 10px;
    font-size: 0.7em;
}

/* SECTION 2 : HEBERGEMENTS A MARSEILLE */

/* lien thumbnail */

.link_thumbnail{
    text-decoration: none;
    color: #000;
    display: block;
}

.link_thumbnail:hover{
    background-color: #DEEBFF;
}
/* Images thumbnails */

.hebergement_img, .populaire_img, .activite_img, .activite_img_2{
    object-fit: cover;
}

/* hébergement */

#section_hebergements{ 
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    margin-top: 20px;
}

#container_hebergement, #container_populaire{
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 20px 30px;
}

#container_hebergement{
    flex: 5 0 0;
    margin-right: 33px;
}

#afficher{
    margin-top: 0px;
}

#afficher a{
    text-decoration: none;
    color: #000;
    font-weight: 700;
}

#blocs_hebergement{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;

}

.thumbnail_hebergement, .thumbnail_populaire{
    box-shadow: 2px 4px 3px #dddddd;
    background-color: #fff;
    margin-bottom: 30px;
}

.thumbnail_hebergement{
    width: 31%;
}

.thumbnail_hebergement, .thumbnail_hebergement a, .thumbnail_populaire, .thumbnail_populaire a{
    border-radius: 15px;
}

.hebergement_img{
    width: 100%;
    height: 100px;
    border-radius: 15px 15px 0 0;
}

.populaire_img{
    width: 40%;
    height: 115px;
    border-radius: 15px 0 0 15px;
}

.thumbnail_padding, .thumbnail_flex{
    padding: 4px;
}

.description{
    padding: 0 10px 2px 10px;
}

.description p{
    margin-top: 6px;
    margin-bottom: 6px;
}

.hotel_name, .activitie_name{
    font-weight: 700;
    font-size: 1.1em;
}

.stars, .stars_populaire{
    color: #0065FC;
    font-size: 0.8em;
}

#empty_star{
    color: #dddddd;
}

/* les plus populaires */

#container_populaire{
    flex: 2 0 0;
}

#titre_populaire{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#icon_chart{
    font-size: 1.3em;
}

#blocs_populaire{
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
}

.thumbnail_flex{
    display: flex;
    flex-direction: row;
}

.stars_populaire{
    margin-top: 30px;
}

/* SECTION 3 : ACTIVITES A MARSEILLE */

#container_activite{
    margin-top: 50px;
}

#blocs_activite{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.thumbnail_activite, .thumbnail_activite_2{
    width: 23%;
}

.thumbnail_activite, .thumbnail_activite a{
    height: 400px;
}

.thumbnail_activite, .thumbnail_activite a, .small_thumbnail, .small_thumbnail a{
    border-radius: 15px;
}

.thumbnail_activite, .small_thumbnail{
    box-shadow: 2px 4px 3px #dddddd;
    background-color: #fff;
}

.activite_img, .activite_img_2{
    width: 100%;
    border-radius: 15px 15px 0 0;
}

.activite_img{
    height: 350px;
}
.activite_img_2{
    height: 130px;
}

.activity_name{
    margin-left: 20px;
    font-weight: 700;
}

.thumbnail_activite_2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 400px;
}

.small_thumbnail, .small_thumbnail a{
    height: 180px;
}

/* FOOTER */

footer{
    background-color: #F2F2F2;
    margin-top: 50px;
}

#container_footer{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding-top: 20px;
    padding-bottom: 40px;
}

#footer_about, #footer_hebergements, #footer_contact{
    width: 33%;
}

#container_footer h2{
    font-size: 1.1em;
}

#container_footer ul{
    list-style-type: none;
    padding:0;
    margin: 0;
}

#container_footer a{
    text-decoration: none;
    color: black;
    line-height: 2em;
}

#container_footer a:hover{
    color: #0065FC;
}



/* test background */
.test_activites{
    height: 400px;
    width: 21%;
    border-radius: 15px;
    box-shadow: 2px 4px 3px #dddddd;
}

#vieux_port{
    height: 80%;
    background: url(images/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg) no-repeat ;
}

.test_activites a:hover{
    background-color: blue;
}


