@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap');

#bloc_page{
    width: 1200px;
    margin: auto;
    font-family: 'Raleway', sans-serif;
    font-size: 0.9em;
}

/* Header */

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 30px;
}

nav ul{
    list-style-type: none;
    display: flex;  
}

nav li{
    margin-right: 60px ;

}

nav li:last-child{
    margin-right: 0;
}

nav a {
    text-decoration: none;
    color: grey;
    font-weight: 500;

}
  
nav a:hover { /* au survol */
    border-top: 2px solid #0065FC;
    padding-top: 25px;
    color: #0065FC;
}

nav a:focus{ /* quand le lien est sélectionné */
    border-top: 2px solid #0065FC;
    padding-top: 25px;
    color: #0065FC;
}

#link_inscription{
    color: #0065FC;
    font-weight: 700;
}

/* Section 1 : recherche et filtres */

h1{
    font-size: 1.4em;
    font-weight: 700;
    margin-bottom: 0;
}

#description{
    margin-top: 5px;
    margin-bottom: 20px;
}

#container_search{
    display: flex;
    align-items: center;
}

 #icon_mapmarker{
     background-color: #F2F2F2;
     padding: 10px;
     border-radius: 8px 0 0 8px;
 }

input{
    font-weight: 700;
    padding: 10px;
    border: #F2F2F2 1px solid;
}

input[type=submit]{
    background-color: #0065FC;
    color: #fff;
    border-radius: 0 6px 6px 0;
    cursor: pointer;
    border: 1px solid #0065FC;
}

#container_filters{
    display: flex;
    margin-top: 20px;
    align-items: center;
}

#container_filters p{
    font-weight: 700;
}

#container_filters ul{
    display: flex;
}

#container_filters li{
    list-style-type: none;
    margin-right: 20px;
}

.button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    background-color: #fff;
    border: 1px solid #dddddd;
    border-radius: 20px;
}

#container_filters button:hover{
    background-color: #DEEBFF;
    cursor: pointer;
}

.icon{
    color: #0065FC;
    padding: 10px;
    background-color: #DEEBFF;
    width: 15px;
    height: 15px;
    border-radius: 20px;
}

.filtre{
    margin: 0 10px 0 10px;
}

#info{
    display: flex;
    align-items: center;
}

#icon_info{
    border: 1px solid #dddddd;
    padding: 2px 6px;
    border-radius: 15px;
    color: #0065FC;
    margin-right: 5px;
    font-size: 0.7em;
}





  



