@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap');

#bloc_page, #container_footer{
    width: 1200px;
    margin: auto;
    font-family: 'Raleway', sans-serif;
    font-size: 0.9em;
}

h1{
    font-size: 1.4em;
    font-weight: 700;
    margin-bottom: 0;
}

h2{
    font-size: 1.3em;
    font-weight: 700;
}


/* HEADER */

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 30px;
}

nav ul{
    list-style-type: none;
    display: flex;  
}

nav li{
    margin-right: 68px ;

}

nav li:last-child{
    margin-right: 0;
}

nav a {
    text-decoration: none;
    color: grey;
    font-weight: 500;

}
  
nav a:hover {
    border-top: 2px solid #0065FC;
    padding-top: 25px;
    color: #0065FC;
}

nav a:focus{
    border-top: 2px solid #0065FC;
    padding-top: 25px;
    color: #0065FC;
}

#link_inscription{
    color: #0065FC;
    font-weight: 700;
}

/* Section 1 : recherche et filtres */

#description{
    margin-top: 5px;
    margin-bottom: 20px;
}

#container_search{
    display: flex;
    align-items: center;
    border: 1px solid #F2F2F2;
    border-radius: 10px;
    width: 347px;
}

#icon_mapmarker{
     background-color: #F2F2F2;
     padding: 10px 13px 10px 13px;
     border-radius: 10px 0 0 10px;
 }

input{
    font-weight: 700;
    padding: 10px;
    font-size: 1em;
    border: none;
}

input[type=submit]{
    background-color: #0065FC;
    color: #fff;
    cursor: pointer;
    border-radius: 0 10px 10px 0;
}

#container_filters{
    display: flex;
    margin-top: 20px;
    align-items: center;
}

#container_filters p, .filtre{
    font-weight: 700;
    font-size: 1.1em;
}

#container_filters ul{
    display: flex;
    flex-wrap: wrap;
}

#container_filters li{
    list-style-type: none;
    margin-right: 40px;
}

.button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    background-color: #fff;
    border: 1px solid #dddddd;
    padding: 0;
}

#container_filters button:hover{
    background-color: #DEEBFF;
    cursor: pointer;
}

.icon{
    color: #0065FC;
    padding: 10px;
    background-color: #DEEBFF;
    width: 15px;
    height: 15px;
}

.button, .icon{
    border-radius: 20px;
}

.filtre{
    margin: 0 15px 0 15px;
}

#info{
    display: flex;
    align-items: center;
}

#icon_info{
    border: 1px solid #dddddd;
    padding: 2px 6px;
    border-radius: 15px;
    color: #0065FC;
    margin-right: 10px;
    font-size: 0.7em;
}

/* SECTION 2 : HEBERGEMENTS A MARSEILLE */

/* lien thumbnail */

.link_thumbnail{
    text-decoration: none;
    color: #000;
    display: block;
}

.link_thumbnail:hover{
    background-color: #DEEBFF;
}

/* toute la section */

#section_hebergements{ 
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    margin-top: 20px;
}

/* Container hébergements et les plus populaires (titres + vignettes) */

#container_hebergement, #container_populaire{
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 20px 30px;
}

#container_hebergement{
    flex: 5 0 0;
    margin-right: 33px;
}

#container_populaire{
    flex: 2 0 0;
}

#afficher{
    margin-top: 0px;
}

#afficher a{
    text-decoration: none;
    color: #000;
    font-weight: 700;
}

#titre_populaire{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#icon_chart{
    font-size: 1.3em;
}

/* Les blocs hébergements et les plus populaires (les vignettes) */

#blocs_hebergement{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;

}

#blocs_populaire{
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
}

/* Vignettes individuelles */

.thumbnail_hebergement, .thumbnail_populaire{
    box-shadow: 2px 4px 3px #dddddd;
    background-color: #fff;
    margin-bottom: 30px;
}

.thumbnail_hebergement{
    width: 31%;
}

.thumbnail_hebergement, .thumbnail_hebergement a, .thumbnail_populaire, .thumbnail_populaire a{
    border-radius: 15px;
}

/* Contenu à l'intérieur des vignettes */

#thumbnail_content_heb{
    display: flex;
    flex-direction: column;
}

.thumbnail_content_heb, .thumbnail_content_pop{
    padding: 4px;
}

.thumbnail_content_pop{
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

/* Images */

.img_hebergement{
    width: 100%;
    height: 100px;
    border-radius: 15px 15px 0 0;
    background-size: cover;
    background-position: center;
}

#heb1{
    background-image: url(images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg);
}

#heb2{
    background-image: url(images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg);
}

#heb3{
    background-image: url(images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg);
}

#heb4{
    background-image: url(images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg);
}

#heb5{
    background-image: url(images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg);
}

#heb6{
    background-image: url(images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg);
}

.img_populaire{
    width: 40%;
    border-radius: 15px 0 0 15px;
    background-size: cover;
    background-position: center;
}

#pop1{
    background-image: url(images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg);
}

#pop2{
    background-image: url(images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg);
}

#pop3{
    background-image: url(images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg);
}

/* Texte descriptif (nom de l'hotel, prix et note) */

.description, .description_pop{
    padding: 0 10px 2px 10px;
}

.description p, .description_pop p{
    margin-top: 6px;
    margin-bottom: 6px;
}

.hotel_name{
    font-weight: 700;
    font-size: 1.1em;
}

.stars, .stars_populaire{
    color: #0065FC;
    font-size: 0.8em;
}

#empty_star{
    color: #dddddd;
}

.description_pop{
    width: 60%;
}

.stars_populaire{
    margin-top: 30px;
}


/* SECTION 3 : ACTIVITES A MARSEILLE */

/* Container */

#container_activite{
    margin-top: 50px;
}

#blocs_activite{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Thumbnails */

.thumbnail_activite, .thumbnail_activite_2{
    width: 23%;
}

.thumbnail_activite, .small_thumbnail{
    box-shadow: 2px 4px 3px #dddddd;
    background-color: #fff;
}

.thumbnail_activite_2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.thumbnail_activite, .thumbnail_activite a, .small_thumbnail, .small_thumbnail a{
    border-radius: 15px;
}

.thumbnail_activite, .thumbnail_activite a, .thumbnail_activite_2{
    height: 400px;
}

.small_thumbnail, .small_thumbnail a{
    height: 180px;
}

/* Images */

.img_activite{
    height: 350px;
    background-size: cover;
    background-position: center;
}

.img_activite_2{
    height: 130px;
    background-size: cover;
    background-position: center;
}

.img_activite, .img_activite_2{
    border-radius: 15px 15px 0 0;
}

#act1{
    background-image: url(images/activites/4_small/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg);
}

#act2{
    background-image: url(images/activites/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg);
}

#act3{
    background-image: url(images/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg);
}

#act4{
    background-image: url(images/activites/4_small/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg);
}

#act5{
    background-image: url(images/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg);
}

#act6{
    background-image: url(images/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg);
}

/* Description */

.activity_name{
    margin-left: 15px;
    margin-right: 15px;
    font-weight: 700;
}

.description_activite{
    vertical-align: middle;
}

/* FOOTER */

footer{
    background-color: #F2F2F2;
    margin-top: 50px;
}

#container_footer{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding-top: 20px;
    padding-bottom: 40px;
}

#footer_about, #footer_hebergements, #footer_contact{
    width: 33%;
}

#container_footer h2{
    font-size: 1.1em;
}

#container_footer ul{
    list-style-type: none;
    padding:0;
    margin: 0;
}

#container_footer a{
    text-decoration: none;
    color: black;
    line-height: 2em;
}

#container_footer a:hover{
    color: #0065FC;
}

@media all and (max-width:1200px){
    #bloc_page, #container_footer{
        width: auto;
        margin: auto 15px auto 15px;
    }
}

@media all and (max-width:992px){
    #section_hebergements{
        flex-direction: column;
    }
}


